<section class="main-content">
  <h2>🔥 베스트 게시판</h2>
<div class="sub-tabs-wrapper">
  <div class="sub-tabs-left">
    <button class="sub-tab active">최신</button>
    <button class="sub-tab">화제</button>
    <button class="sub-tab">정치</button>
  </div>
  <div class="sub-tabs-right">
    <button class="view-btn active">≡</button>
    <button class="view-btn">▦</button>
  </div>
</div>
  <ul class="best-posts">
    <li>
      <span class="post-rank">117</span>
      <span class="post-category">[유머]</span>
      <span class="post-title">방송 중 인실 자꾸 까먹는 아이돌.jpg</span>
      <span class="post-comments">[314]</span>
    </li>
    <li>
      <span class="post-rank">111</span>
      <span class="post-category">[이슈]</span>
      <span class="post-title">일본 여자와 현실의 차이.jpg</span>
      <span class="post-comments">[476]</span>
    </li>
    <li>
      <span class="post-rank">97</span>
      <span class="post-category">[잡담]</span>
      <span class="post-title">당근 같긴 한데 웃긴 스윗함 보여주는 커뮤니티</span>
      <span class="post-comments">[489]</span>
    </li>
  </ul>
</section>
